<%- include("../../components/header") -%>          <!-- include header.ejs file -->
          <h1>Welcome to Haruka Ma</h1>
<%- include("../../components/footer") -%>          <!-- include footer.ejs file -->