<%- include("partial-pages/header") -%>          <!-- include header.ejs file -->
          <h1>Welcome to Haruka Ma</h1>
<%- include("partial-pages/footer") -%>          <!-- include footer.ejs file -->